// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Created colours:

$middle-gray: #cecbcb;
$white: white;

$light-rose: #FFF8D6;
$rose: #F7E1AE;

$light-green: #CCF4E5;
$dark-green: #20CD8D;
$dark-blue: #182527;
$grey-blue: #2D4048;
$light-grey: #D9D9D9;
$white: #FFFFFF;
