// Define variables for your color scheme

// Created colours for this webside
$dark-gray: #22212126;
$middle-gray: #c2cbcb; // for card-lines
$light-gray: #D9D9D9;
$brown-gray: #7a746a; // for button colours


$light-rose: #FFF8D6; // for cards
$rose: #F7E1AE; // for cards
$light-green: #CCF4E5; // main styling & background colour
$dark-green: #20CD8D; // main styling colour

$dark-blue: #182527; // main colour for titles and body-font
$gray-blue: #2D4048;

$white: white;
$black: black;

$button-red: #fd1015d1; // for delete-button
$navbar-footer: #F4F4F4 //light grey-white for navbar and footer
