// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Created colours:

$middle-gray: #cecbcb;
$white: white;

$light-rose: #FFF8D6 ;
$rose: #F7E1AE;
$light-green: #A4D0A4;
$dark-green: #617A55;
