.category-container-carousel {
  // border: 1px solid blue;
  margin: 5px;
}
.category-container-infos {
  // border: 1px solid black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 16px;
  color: $rose;
}

.text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 16px;
  color: black;
}
