p {
  font-size: 18px;
}

.info{
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}
.challenge-content {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.challenge-show-container{
  background-color: #ccf4e5;
}

.challenge-right-side {
  flex: 1;
  margin-left: 5px;
  align-items: center;
  height: 100vh;
  // background-color: white;

}

.challenge-left-side {
  flex: 1;
  font-size: 15px;
  margin-left: 10px;
  // background-color: white;
  // border-radius: 10px;
  // padding: 20px;
  // margin-right: 5px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // position: relative;
}
.icon{
  color: $grey-blue;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.divider {
  border-top: 1px solid #ccc;
  margin: 20px auto; /* Adjust margin as needed */
  width: 100%; /* Adjust width as needed */
}

.challenge-left-side .carbon-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color:$green;
  color: white;
  font-size: 35px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: large;
}

// media queries
@media screen and (max-width: 768px) {
  .challenge-content {
    flex-direction: column;
  }

  .challenge-left-side,
  .challenge-right-side {
    margin-left: 0;
    margin-top: 20px;
  }
}
