.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 16px;
  color: $rose;
}

.text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 16px;
  color: black;
}

.two-sides {
  display: flex;
  justify-content: space-between;
}

// .category-container {

// }

.category-container-carousel {
  // border: 1px solid blue;
  margin: 5px;
}

.category-container-infos {
  // border: 1px solid black;
  height: 100vh;
  width: 40%;
  position: sticky;
  top: 0;
  padding: 20px;
}

.challenges-container {
  // height: 100vh;
  width: 60%;
  position: sticky;
  top: 0;
  // border: 1px solid $yellow;
}

.challenges-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.challenges-grid-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

// Extra small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .challenges-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .challenges-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

// Extra small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
