// Formatting the two divisions for the titles of categories and challenges
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding-bottom: 16px;
  margin: 0;
}

// Formatting the divison of the category text
.category-container-infos .text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 16px;
  // color: black;
  font-size: 18px;
}

// Creating a division which make it possible to display the category and the challenges divisions next to each other
.two-sides {
  display: flex;
  justify-content: space-between;
}

// Formatting the carousel with the category-symbols
.category-container-carousel {
  margin: 5px;
}

// Creating a division on the left side with category title and infos
.category-container-infos {
  height: 100vh;
  width: 40%;
  position: sticky;
  top: 0;
  padding: 20px;
}

// Creating a division on the right side with challenges title and challenges-cards
.challenges-container {
  width: 60%;
  top: 0;
  padding: 20px;
}

// Creating a division, displaying the challenge-cards of the category-challenges-page in a grid
.challenges-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

// Creating a division, displaying the challenge-cards of the search-results-page in a grid
.challenges-grid-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

// Media-Formatting for the category-challenges-page:

// Extra small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .challenges-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .challenges-grid {
    grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .challenges-grid {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
  }
}

// Media-Formatting for the search-results-page:

// Extra small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .challenges-grid-search {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }
}
