
.two-sides-view {
  border: 1px solid green;
  // margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.switching-container {
  border: 1px solid orange;
  min-height: 100vh;
  width: 60%;
  position: sticky;
  top: 0;
  padding: 15px;
  margin: 5px;

}
.enrty-message {
  border: 1px solid red;
}

// TOGGLER button TBD

// .toggle-top-right {
//   align-self: flex-start;
//   justify-self: flex-end;
//   border: 1px solid red;
// }

.toggle {
  position: relative;

}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle label {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateX(-60%);
  width: 50px;
  height: 25px;
  background-color: $light-rose;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.toggle input[type="checkbox"]:checked + label::before {
  background-color: $light-gray; /* Update with your desired color */
}

.toggle label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateX(-60%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.toggle input[type="checkbox"]:checked + label::after {
  transform: translateX(-100%);
}

// TOGGLER button TBD




.dashboard-title {
  justify-content: left;
  align-items: center;
  color: black;
}

.dashboard-text {
  justify-content: left;
  align-items: center;
  color: black;
}
.challenge-no{
  color: $green;
}



// for the user habits
.dashboard-card {
  background-color: $light-rose;
  padding: 16px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

// .container-habits-listing {
//   border: 1px solid blue;
//   margin: 5px;
// }

// .statistic-side {
//   border: 1px solid yellow;
//   margin: 5px;
// }

.tree-side {
  // border: 1px solid red;
  // margin: 5px;
  height: 100vh;
  width: 40%;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: white;
}

// .tree-image {
//   object-fit: cover;
//   // height: 60%;
//   width: 100%;
//   width: 300px;
//   border-radius: 8px;
//   display: flex;
//   justify-content: left;
//   align-items: center;
// }


// button for all challenges
.btn-one {
  color: $gray;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: $green;
  border-bottom-color: $green;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
// button end
