// Specific CSS for your home-page

.landing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  height: 90vh;
  background-color: white;
}

.greentext{
  color: $green;
}
.right-side {
  flex: 1;
}

#animation-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
