// Specific CSS for your home-page
.landing-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5% 5% 0 5%;
  background-color: $light-green;
}

.right-side p {
  font-size: larger;
}

.greentext{
  color: $green;
  text-shadow: .1px .1px .75px rgba(0, 0, 0, 0.3);
}

.right-side {
  flex: 1;
}

#animation-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Mobile Small
@media (max-width: 767px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .right-side {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .right-side h1 {
    order: 1;
    font-size: 38px;
  }

  .right-side p {
    order: 2;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }

  #animation-container {
    order: 4;
    transform: scale(0.9);

  }

  .button-normal {
    order: 3;
    margin: 0 auto;
  }
}

// Mobile Large / Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .right-side {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .right-side h1 {
    order: 1;
    font-size: 45px;
  }

  .right-side p {
    order: 2;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }

  #animation-container {
    order: 4;
    transform: scale(0.9);

  }

  .button-normal {
    order: 3;
    margin: 0 auto;
  }
}

// Desktop
@media (min-width: 1024px) and (max-width: 1440px) {
  .landing-container {
    margin: 0 18px;
  }

  .right-side {
    font-size: 130%;
    width: 420px;
    height: 400px;
  }

  .right-side h1{
    margin: 0 auto 40px auto;
    font-size: 45px;
  }
}

// Desktop XL
@media (min-width: 1441px) {
  .landing-container {
    margin: 0 18px;
  }

  .right-side {
    font-size: 170%;
    width: 420px;
    height: 400px;
  }

  .right-side h1{
    margin: 0 auto 40px auto;
    font-size: 60px;
  }

  #animation-container {
    order: 4;
    transform: scale(1.1);

  }
}
