
.dashboard-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $light-green;
}


.card-skill-info {
  width: 300px;
  background-color: $light-rose;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5px; /* Adjust the margin-right value as needed */

}

.habit-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-product-infos h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-product-infos p.category-tag {
  font-size: 14px;
  color: $middle-gray;
}

.card-product-infos p {
  margin-top: 10px;
}

.carbon-saving {
  display: inline-block;
  padding: 5px 10px;
  background-color: $dark-green;
  color: $white;
  border-radius: 4px;
}
