.challenge-content {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.challenge-show-container{
  background-color: #ccf4e5;
}

.challenge-right-side {
  flex: 1;
  margin-left: 5px;
}

.challenge-left-side {
  flex: 1;
  font-size: 15px;
  margin-left: 10px;
  // background-color: white;
  // border-radius: 10px;
  // padding: 20px;
  // margin-right: 5px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // position: relative;
}
.divider {
  border-top: 1px solid #ccc;
  margin: 20px auto; /* Adjust margin as needed */
  width: 100%; /* Adjust width as needed */
}

.challenge-left-side .carbon-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color:$green;
  color: white;
  font-size: 35px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: large;
}

// .btn-primary {
//   position: absolute;
//   bottom: 20px;
//   right: 20px;
// }
