<h1>Categories</h1>
<ol>
  <% @categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ol>

<h1>Challenges</h1>
<ol>
  <% @challenges.each do |challenge| %>
  <li><%= challenge.name %></li>
  <% end %>
</ol>

<h1>Users</h1>
<ol>
  <% @users.each do |user| %>
  <li><%= user.name %></li>
  <% end %>
</ol>
