  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/BahaBasia/greenpath"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">Make your <span class="greentext">greenpath.</span></div>
  </div>
