<div class="landing-container">
  <div class="right-side">
    <h1>Empower Your <strong class="greentext">Sustainable</strong> Lifestyle With <strong class="greentext">greenpath</strong> Challenges</h1>
    <p>Discover eco-friendly habits, track your carbon footprint, and make a positive impact on the planet with our innovative app. Join a community of like-minded individuals and embark on challenges to reduce your CO2 emissions. Start your sustainable journey today</p>

    <%= link_to "Discover Challenges", challenges_path, class: "dash-button" %>

  </div>
  <div id="animation-container">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_49qclrxv.json"
      background="transparent"
      speed="1"
      style="width: 600px; height: 600px;"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
