<h3>See how you are contributing:</h3>
<%# Showing Level: %>
<%# Column chart of saved Co2: %>
<div class="statistics-carbon" >
  <h4>Your saved C02 emission:</h4>
  <%= column_chart @display, empty: "No challenges", colors: ["#7e57c2"] %>
</div>

<%# Column chart of completed events: %>
<div class="statistics-carbon" >
  <h4>Your achieved challenges:</h4>
  <%= column_chart @event_data, empty: "No challenges", colors: ["#7e57c2"] %>
</div>

<%# Pie chart of chosen categories: %>
<div class="statistics-carbon" >
  <h4>Your favourite challenge-categories:</h4>
  <%= pie_chart @pie_data, empty: "No challenges", colors: ["#ef5350", "#ec407a", "#7e57c2", "#42a5f5", "#26c6da", "#26a69a", "#9ccc65", "#ffee58", "#ffa726", "#ff7043"] %>
</div>
