      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="tree-container">
  <h1 class="title"><strong>Hooray!</strong></h1>
    <p class="text">Your tree grew today!</p>
    <p>Your toatal co2 saving:<%= current_user.carbon_count.to_i %> </p>
    <div class="tree-animation">
      <%# no tree %>

      <lottie-player
        id="tree-animation"
        src="<%= tree %>"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px;"
        autoplay
    ></lottie-player>
      <p>Badge: <i class="fa-solid fa-<%= badge %>"></i></p>
    </div>
</div>
