<div class="tree-container">
    <div class="salutation">
      <h1 class="yay"><strong>Hooray!</strong></h1>
        <h3>Your total Co2 saving: <span class="carbon_saved"><%= current_user.carbon_count.to_i %></span> kg!</h3>
    </div>
      <div class="tree-part">
        <div class="tree-wrapper">
        <lottie-player
          id="tree-animation"
          src="<%= tree %>"
          background="transparent"
          speed="2"

          <%# style="width: 515px; height: 515px;" %>
          style="height: 550px;"

          autoplay>
          </lottie-player>
        </div>
    </div>
      <div class="badge-space">
        <i class="fa-solid fa-<%= badge %> badge-class" ></i>
        <p class="badge-text"> <%= carbon_badge(current_user.carbon_count.to_i)[:level] %> </p>
      </div>
</div>

      <%# no tree %>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <%# tree 1%>
      <%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> %>
      <%# tree 2 %>
      <%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> %>
      <%# tree 3- big %>
      <%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> %>
