 <div class="challenge-show-container">
    <%= render 'shared/banner' %>
  <div class="challenge-left-side">
    <p><%= @challenge.description %></p>
    <p><%= @challenge.saving_carbonamount %> Co2/ per occurance</p>
  </div>
  <div class="challenge-right-side">
    <%= render 'shared/habit_form' %>
  </div>
</div>
