.banner-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}
.banner-category h1{
  font-size: 70px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}
