// .category-filter-button {
//   background-color: $rose;
//   text-decoration: none;
//   color: $dark-green;
//   font-weight: bold;
//   font-size: 16px;
//   padding: 12px 26px;
//   border-radius: 5px;
//   box-shadow: 0 0 16px rgba(0,0,0,0.1);
//   border-color: none;
//   text-align: center;
//   font-family: $body-font;
//   display: inline-block;

//    &:hover, &.active {
//      background-color: $light-rose;
//      color: $dark-green;
//    }
// }

.dash-button {
  display: inline-block;
  background-color: #73cc76;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  height: auto;
}

.dash-button:hover {
  background-color: #9df7ac;
}

.dash-button:active {
  background-color: #1fa524;
}
