.calendar-side {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 30px;
  }
}

.calendar-tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.calendar-events {
  display: flex;
  overflow-x: scroll;
}

.calendar-day-button {
  font-size: 20px;
  padding: 5px 10px;

}
// tab
// Making the calendar-tabs simple and applying hover and active-effect
.cal-link {
  border: none;
  background-color: $light-green;
  margin-right: 10px;
  padding-left: 0px;

  &:hover, &.active {
    color: $grey-blue;
    border: none;
  }

}

// Removing the border-line underneath the calendar-tabs
#myTab {
  border: none;
}


.calendar-day-button {
  color: #a6adad;

  &:hover, &.active {
    background-color: none;
    color: $grey-blue;
  }
}

#my-tab {
  width: 100%;
 }

.tab-content {
  margin-top: 10px;
}

// events
.event {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the spacing between events as needed */
  background-color: white;
}

.event-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.event-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .event-content {
    width: 200px;
  }
}

.event-foot{
  flex-grow: 1;
  margin-left: 20%;

  .carbon-footprint {
    font-size: 15px;
    padding: 10px;
  }
}

.event-title {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
}

.event-button {
  flex-grow: 1;
  text-align: right;
  font-size: 50px;
  margin-right: 10px;
}


.done-button i {
  color: $dark-green; /* Change the color to green */
  transition: $dark-blue 0.3s ease; /* Add transition effect for smooth color change */

  &:hover {
    color: $rose; /* Change the color on hover */
    box-shadow: .5px;
  }
}
