.calendar-side {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 30px;
  }
}

.calendar-tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.calendar-events {
  display: flex;
  overflow-x: scroll;
}

.calendar-day-button {
  font-size: 15px;
  padding: 5px 10px;

}
// tab

.nav-tabs {
  --bs-nav-tabs-border-color: none;
  --bs-nav-tabs-link-hover-border-color: #CCF4E5;
  --bs-nav-tabs-link-active-color: $grey-blue;
  --bs-nav-tabs-link-active-bg: none;
  --bs-nav-tabs-link-active-border-color: #CCF4E5;
  // --bs-nav-tabs-link-active-border-bottom-color: $grey-blue;
}

.calendar-day-button {
  color: #a6adad;

  &:hover, &.active {
    background-color: none;
    color: $grey-blue;
  }
}

#my-tab {
  width: 100%;
}
.tab-content {
  margin-top: 10px;
}

// events
.event {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the spacing between events as needed */
  background-color: white;
}

.event-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.event-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .event-content {
    width: 200px;
  }
}

.event-foot{
  flex-grow: 1;
  margin-left: 20%;

  .carbon-footprint {
    font-size: 15px;
    padding: 10px;
  }
}

.event-title {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
}

.event-button {
  flex-grow: 1;
  text-align: right;
  font-size: 50px;
  margin-right: 10px;
}


.done-button i {
  color: $green; /* Change the color to green */
  transition: $dark-blue 0.3s ease; /* Add transition effect for smooth color change */
}

.done-button i:hover {
  color: $gray; /* Change the color on hover */
}
