
// scroll buttons styles

.carousel-container {
  position: relative;
  // width: 90%;
  width: 100vw;
  margin: 0 auto;
  // border: 1px solid blue;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: center;
  // border: 1px solid green;
}

.scroll-button-left {
  left: 0;
}

.scroll-button-right {
  right: 0;
  // margin-left: 10px
}
/// carousles styles

.categories-carousel {
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: scroll;
  scrollbar-color: $light-grey;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin; /* Hide the scrollbar for modern browsers */
  -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  display: flex; /* Add display:flex */
  align-items: center; /* Add align-items:center */
  position: relative; /* Add relative positioning */
  // border: 1px solid green;
}

.category-container-carousel {
  display: inline-flex;
  gap: 10px; /* Adjust the gap between category items */
  scroll-snap-type: x mandatory;
  // border: 1px solid yellow;
}


.category-item {
  flex: 0 0 auto;
  width: 200px; /* Adjust the width of each category item */
  height: 50px; /* Adjust the height of each category item */
  scroll-snap-align: start;
  text-align: center;
  // border: 1px solid green;
}

.category-item i {
  display: block;
  margin-bottom: 5px; /* Adjust the margin between the icon and the category name */
}

.category-filter-button {
  text-decoration: none;
  transition: color 0.3s;
  position: relative; /* Add relative positioning */
  color:rgb(120, 123, 125);
}
.category-filter-button:hover {
  color: #272121; /* Change to the desired color upon hover */
}
.category-filter-button.active {
  color: #000000; /* Change to the desired color for the active button */
}

.category-filter-button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px; /* Adjust the position of the underline */
  height: 2px; /* Adjust the height of the underline */
  width: 100%;
  background-color: #000000; /* Change to the desired underline color */
  color: #000000;
  opacity: 0; /* Initially hide the underline */
  transition: opacity 0.3s;
}

.category-filter-button:hover::after,
.category-filter-button.active::after {
  opacity: 1; /* Show the underline on hover and when active */
  background-color: bisque;
}

.categories-carousel::before,
.categories-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  // margin: 0;
  width: 50px; /* Adjust the width of the indicators */
  pointer-events: none;
  opacity: 0.7;
  transition: opacity 0.3s;
}


.categories-carousel::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
}



// new carousel styles
// .category-container-carousel {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .category-item {
//   text-align: center;
//   margin-right: 10px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .category-item i {
//   display: block;
//   margin-bottom: 5px;
// }

// .categories-carousel {
//   overflow-x: scroll;
//   white-space: nowrap;
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 20px;
//   scrollbar-width: none;
//   -ms-overflow-style: none;
// }

// .categories-carousel::-webkit-scrollbar {
//   display: none;
// }

// icons for the categories with Fontawesome

.fa-thin-icon-class-0:before {
  content: "\f239";
}

.fa-thin-icon-class-1:before {
  content: "\f5ba";
}

.fa-thin-icon-class-2:before {
  content: "\f1b8";
}

.fa-thin-icon-class-3:before {
  content: "\f787";
}

.fa-thin-icon-class-4:before {
  content: "\f773";
}

.fa-thin-icon-class-5:before {
  content: "\e086";
}

.fa-thin-icon-class-6:before {
  content: "\f015";
}

.fa-thin-icon-class-7:before {
  content: "\f1bb";
}

.fa-thin-icon-class-8:before {
  content: "\f54e";
}
.fa-thin-icon-class-9:before {
  content: "\e533";
}


// old

// .category-container-carousel {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .category-item {
//   text-align: center;
//   margin-right: 10px; /* added/


// .category-item i {
//   display: block;
//   margin-bottom: 5px; /* Adjust the margin between the icon and the category name */
// }

// .categories-carousel {
//   overflow-x: scroll;
//   white-space: nowrap;
//   width: 100%;
// }

// .categories-container {
//   display: inline-flex;
// }

// // .category-container {
// //   flex: 0 0 auto;
// //   margin-right: 10px; /* Adjust spacing between categories */
// // }

// .category-filter-button {
//   /* Add styles as needed */
//   color: black;
// }

// .categories-carousel {
//   overflow-x: scroll;
//   white-space: nowrap;
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 20px;
//   scrollbar-width: none; /* Hide scrollbar for modern browsers */
//   -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
// }

// .categories-carousel::-webkit-scrollbar {
//   display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
// }
