.challenge-card {
  margin: 10px auto;
  border: 1px solid $middle-gray;
  background-color: $light-rose;
  padding: 10px;
  border-radius: 8px;
  position: relative;

  &:hover {
    background-color: $rose;
    color: $dark-green;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.challenge-image {
    object-fit: cover;
    // height: 60%;
    width: 100%;
    width: 200px;
    border-radius: 8px;
}

.challenge-details {
  // padding: 16px;
  padding-top: 16px;
  // padding-bottom: 16px;
}

.challenge-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.carbon-footprint {
  font-size: 14px;
  // font-weight: bold;
  margin: 0;
}
