.challenge-card {
  margin: 10px auto;
  border: 1px solid $middle-gray;
  background-color: $light-rose;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: $rose;
    color: $grey-blue;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.challenge-image {
    object-fit: cover;
    // height: 60%;
    width: 229px;
    border-radius: 8px;
}

.challenge-details {
  // padding: 16px;
  padding-top: 16px;
  // padding-bottom: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.challenge-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.carbon-footprint {
  font-size: 14px;
  // font-weight: bold;
  margin: 0;
  margin-top: 2px;
  display: inline-block;
  padding: 8px 16px;
  background-color: $dark-green;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 5px;
  height: auto;
}
