.booking-form {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 90px;
  position: relative;
}


.carbon{
  color: $dark-green;
  font-weight: bold;
  font-size: 35px;
}
.habit-salutation {
  margin: 0 auto;
  padding: 20px;

}

.habit-salutation h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  // margin-left: 70px;

}

.habit-salutation h2 {
  font-size: 18px;
  // margin-left: 30px;
  text-align: center;
}

.form-habit {
  align-items: center;
  // display: flex;
  // flex-direction: column;

}

.form-habit input[type="text"],
.form-habit select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-habit input[type="submit"] {
  background-color: $dark-green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.form-habit input[type="submit"]:hover {
  background-color: $dark-green;
}
.btn-habit{
  background-color: $dark-green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  position: relative;
}

// popup: changing the button colour:
.swal2-styled.swal2-cancel, .swal2-styled.swal2-confirm {
  background-color: $dark-green !important;
}

//changing the dag color:

.challenge-left-side .carbon-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: $dark-green !important;
}

@media screen and (max-width: 768px) {
  .booking-form {
    width: 90%;
  }
}


@media (min-width: 1700px) {
  .booking-form {
    width: 60%;
    margin-top: 50px;
    height: 50%;
  }

  .habit-salutation h1 {
    font-size: 40px;
  }

  .habit-salutation h2 {
    font-size: 22px;
  }
}


/* Mobile Styles */

@media (max-width: 768px) {
  .booking-form {
    width: 100%; /* Adjust the width to match the whole page on mobile devices */
    margin: 0; /* Remove any margins to fill the whole width */
    padding: 10px; /* Add some padding for spacing */
  }

  .habit-salutation h1 {
    font-size: 28px; /* Adjust the font size for mobile devices */
  }

  .habit-salutation h2 {
    font-size: 16px; /* Adjust the font size for mobile devices */
  }

  .form-habit input[type="text"],
  .form-habit select {
    padding: 8px;
    margin-bottom: 8px;
  }

  .form-habit input[type="submit"],
  .btn-habit {
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .challenge-content {
    display: flex;
    flex-direction: column; /* Adjust the layout for mobile devices */
  }

  .challenge-left-side,
  .challenge-right-side {
    width: 100%; /* Set the width to match the whole page on mobile devices */
  }

  .challenge-left-side {
    margin-bottom: 20px; /* Add some spacing between the left and right sides */
  }

}
