.booking-form {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.carbon{
  color: $green;
  font-weight: bold;
  font-size: 35px;
}
.habit-salutation {
  margin-bottom: 20px;
  padding: 20px;

}

.habit-salutation h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;

}

.habit-salutation h2 {
  font-size: 18px;
  margin-left: 0px;
  margin-bottom: 5px;

}

.form-habit {
  align-items: center;

}

.form-habit input[type="text"],
.form-habit select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-habit input[type="submit"] {
  background-color: #20cd8d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.form-habit input[type="submit"]:hover {
  background-color: #2d4048;
}
