// search form front end
.search-form-control {
  position: relative;
}

// search field for user input
.search-form-control input[type="text"] {
  padding-left: 30px;
  background-color: $light-green;
  box-shadow: 0 25px 35px #000000(0, 0, 0, 1);
  border: .5px solid #000000;
  border-radius: 4px;
}
