@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$bg-color: $light-gray;
$toggle-bg-color: $dark-green;
$toggle-nub-color: $light-rose;
$font-color: $dark-green;


.toggle{

  // margin-top: 40px;
  input[type="checkbox"]{
    display: none;
  }

  label{
    color: $font-color;
    // position: relative;
  }

  input[type="checkbox"] + label::before{
    content: ' ';
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid $toggle-bg-color;
    border-radius: 9px;
    // position: absolute;
    top: 0px;
    left: -65px;
    background: $toggle-bg-color;
  }

  input[type="checkbox"] + label::after{
    content: ' ';
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid $toggle-nub-color;
    border-radius: 50%;
    // position: absolute;
    top: -6px;
    left: -75px;
    background: $toggle-nub-color;
    transition: all 0.3s ease-in;
  }

  input[type="checkbox"]:checked + label::after{
    left: -40px;
    transition: all 0.3s ease-in;
  }
}
