@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$bg-color: $light-gray;
$toggle-bg-color: $dark-green;
$toggle-nub-color: $light-rose;
$font-color: $dark-green;


.toggle{

  // margin-top: 40px;
  input[type="checkbox"]{
    display: none;
  }

  // label{
  //   color: $font-color;
  //   // position: relative;
  // }

  input[type="checkbox"] + label::before{
    content: 'stats';
    display: block;
    height: 30px;
    width: 100px;
    border: 1px solid $dark-green;
    border-radius: 15px;
    // position: absolute;
    top: -1px;
    left: -70px;
    background: $dark-green;
    color: $light-rose;
    font-weight: bold;
    padding-left: 47px;
    padding-top: 2px;
  }

  input[type="checkbox"] + label::after{
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid $toggle-nub-color;
    border-radius: 50%;
    // position: absolute;
    top: -6px;
    left: -110px;
    background: $light-rose;
    transition: all 0.3s ease-in;
  }

  input[type="checkbox"]:checked + label::before {
    content: 'view';
    color: $dark-green;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 2px;
  }

  input[type="checkbox"]:checked + label::after{
   left: -20px;
   transition: all 0.3s ease-in;
  }
}
