.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  position: sticky;
}
.salutation{
  height: 30%;
}
.yay {
  margin-bottom: 20px;
  margin-top: 5px;
  color: $dark-blue;
}
.carbon_saved{
  color: $green;
  font-weight: bold;
}
.tree-animation{
  object-fit: cover;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
