.tree-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  position: sticky;
  overflow: hidden; /* to hide anything that's not fitting */
}

@media (min-width: 1700px){

#tree-animation{
height: 700px;
}
}





.salutation{
  margin-bottom: 5px;
}
.yay {
  margin-bottom: 5px;
  margin-top: 5px;
  color: $dark-green;
}
.carbon_saved{
  color: $green;
  font-weight: bold;
}
.tree-part{
  object-fit: cover;
  height: 70%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.badge-space{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.badge-text{
  margin-bottom:0;
  // box-shadow: 0 0 10px rgba(175, 168, 168, 0.5);

  // font-size: 30px;
  // width: 90%;
}
.badge-class {
  font-size: 50px;
  padding: 5px 10px;
}
.fa-trophy {
  color: gold
}
.fa-trophy {
  color: gold
}
.fa-medal{
  color: silver;
}
.fa-award{
  color: #CD7F32;
}
.fa-seedling{
  color: rgb(3, 108, 17);
}
