.navbar {
  background-color: white;
  padding: 10px;
  height: 10%;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: bold;
  color: #f2e8d7;
}

.nav-link {
  color: #f2e8d7;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link:hover {
  color: #ffcc99;
}


.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 150px;
  margin: 0 8px;
}
