.navbar {
  background-color: white;
  padding: 10px;
  height: 10%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.nav-link {
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link:hover {
  color: $light-green;
}


.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 150px;
  margin: 0 8px;
}

// .navbar-buttons {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }

.navbar-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: $dark-green;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  width: 90px;
  height: auto;
}

.navbar-button:hover {
  background-color: $light-green;
  color: white;
  box-shadow: .5px;
}

.navbar-button:active {
  background-color: $light-green;
}

.recenter {
  justify-content: space-between;
  width: 68vw;
  margin: 0 0;
}

.recenter2 {
  justify-content: space-between;
  width: 68vw;
  margin: 0 0;
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: white;
  box-shadow: 0 25px 35px #000000(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
  z-index: 100;
  border-radius: 30px;
  border: .5px solid #000000;
  cursor: pointer;
}

.navigation a:hover {
  color: dark-green;
  opacity: 1;
}

.navigation.active {
  width: 200px;
  height: 250px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}
.navigation .userBx {
  position: relative;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.navigation.active .userBx {
  width: calc(100% - 60px);
  transition-delay: 0s;
}
.navigation .userBx .username {
  white-space: nowrap;
  color: $grey-blue;
  font-size: 1.1em;
}
.navigation .userBx .imgBx {
  position: relative;
  min-width: 60px;
  height: 60px;
  overflow: hidden;
  background: $dark-blue;
  border-radius: 50%;
  border: 10px solid #fff;
}
.navigation .userBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.menu li {
  list-style: none;
}
.menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  font-size: 1.1em;
  text-decoration: none;
  color: $dark-blue;
}
.menu li a:hover {
  color: $dark-green;
}
.menu li a ion-icon {
  font-size: 1.5em;
}

.navigation .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .menuToggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: $grey-blue;
  transform: translateY(-10px);
  box-shadow: 0 10px $grey-blue;
  transition: 0.5s;
}

.navigation .menuToggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: $grey-blue;
  transform: translateY(10px);
  transition: 0.5s;
}
.navigation.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 $grey-blue;
}
.navigation.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
}
