.navbar {
  background-color: #8c6239;
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
  color: #f2e8d7;
}

.nav-link {
  color: #f2e8d7;
  font-weight: 500;
  margin-right: 10px;
}

.nav-link:hover {
  color: #ffcc99;
}

